<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>thymealf模板测试</title>
		<script type="text/javascript" th:src="@{/js/jquery.min.js}" ></script>
		<link rel="stylesheet" th:href="@{css/bootstrap.css}" />
		<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
		<link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" />
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>


	<table class="table">
		<tr>
			<td>id</td>
			<td>姓名</td>
			<td>性别</td>
			<td>院系</td>
			<td>入学时间/td>
			<td>专业</td>
		</tr>
	
		<tr th:each="studnet : ${studentlist}">
			<td th:text="${student.id}">0</td>
			<td th:text="${student.name}">xiaoyue</td>
			<td th:text="${student.gender}">男</td>
			<td th:text="${student.department}">美术系</td>
			<td th:text="${student.adminssion}">2013-1-25>
			<td th:text="${student.professional}">美术学</td>
		</tr>
			<td>sdf</td>
		<tr>
		
		</tr>
	</table>


</body>
</html>